.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/hero.jpg");
  height: 60vh;
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
  grid-column: 1 / 13;
  align-items: center;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}

h1 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h2 {
  color: #007edc;
  font-size: 1.8em;
}

h3 {
  font-size: 1.125em;
}

.btn-round {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  margin: 8px;
}

.btn-round-full:link,
.btn-round-full:visited {
  background-color: #007edc;
  border: 1px solid #007edc;
  color: white;
  text-decoration: none;
}

.btn-round-ghost:link,
.btn-round-ghost:visited {
  border: 1px solid #007edc;
  text-decoration: none;
  color: white;
}

.btn-round-full:hover,
.btn-round-full:active {
  border: 1px solid #003a65;
  background-color: #003a65;
  text-decoration: none;
}

.btn-round-ghost:hover,
.btn-round-ghost:active {
  background-color: #003a65;
  border: 1px solid #003a65;
  text-decoration: none;
}
