

#navbar {
    display: flex;
    grid-column: 2 / 11;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: rgba(46, 42, 42, 1.0);
    backface-visibility: visible;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    &__links {
      display: flex;
      justify-content: space-evenly;
      li:not(:last-child) {
        margin-right: 15px;
      }
    }
  }