li {
  display: flex;
}

.website {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav, section {
  grid-column: 3 / 11;
  justify-content: center;
  text-align: center;
  width: 100%;
}