li {
  display: flex;
}

.website {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.portfolio {
  grid-column: 1 / 13;
  justify-content: center;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}